.Upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  margin-right:1em;
}

.Content {
  display: flex;
  flex-direction: row;
  padding:2em;
  box-sizing: border-box;
  width: 100%;
}

.Files {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.Actions {
  text-align:center;
  width: 100%;
  margin: 4em 0;
}

.Actions button {
  margin:0 1em;
}

.Title {
  margin-bottom: 32px;
  color: #555;
}

.Filename {
}

.Filesize {
  font-style:italic;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.CheckIcon {
  opacity: 0.5;
  margin-left: 32px;
}

.ProgressWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

