.Images {
  margin-right:200px;
}

@media (max-width: 600px) {
  .Images {
    margin-right:1em;
  }
}

.Images.compact ul:first-child {
  display:flex;
  flex-wrap: wrap;
}

.Images img {
  max-height:300px;
  min-height:100px;
  min-width:100px;
}

.Images.large .Image {
  max-width:800px;
  min-width:100px;
}

.Images.compact .Image {
  width:200px;
  flex-grow: 4;
  margin:0 3em 3em 0;
}

.Images .View {
  position:fixed;
  right:1em;
  top:1em;
  z-index:1;
  background:#fff;
  padding:3px;
}

@media (max-width: 600px) {
  .Images .View {
    display:none;
  }
}

.Image {
  margin-bottom:3em;
}

.Image img {
  max-width:100%;
}

.Image .meta {
  margin-top:2em;
  font-size:.7em;
  font-style:italic;
}
.Image .meta ul {
  margin:0.5em 0 0 0;
  padding:0;
  list-style-type:none;
}
.Image .meta li {
  margin: 0;
  padding: 0;
}

.Image .description {
  max-width:750px;

}

.Image .hash_tag {
}

.nonLoggedInImage {
  position:absolute;
  top:1em;
  left:1em;
  max-width:90%;
}

