body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  font-family: 'Work Sans', sans-serif;
  font-weight:normal;
  color:#888 !important;
  border:0;
  text-decoration:none;
  background:none !important;
  border-bottom: 2px solid #ddd;
}



.siteWrapper {
  padding:1em 3em 3em 3em;
  margin-left:150px;
}


@media (max-width: 600px) {
  .siteWrapper {
    margin-left:1.5em;
  }
}


.tag {
}